@{
    ViewData["Title"] = "Polityka Prywatności";
}
<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p class="lead">Bezpieczeństwo Twoich danych jest dla nas priorytetem.</p>

    <div class="mt-4">
        <h4>1. Gromadzenie danych</h4>
        <p>Gromadzimy tylko dane niezbędne do realizacji wizyty lekarskiej, takie jak imię, nazwisko, numer telefonu i adres email.</p>

        <h4>2. Wykorzystanie danych</h4>
        <p>Twoje dane są wykorzystywane wyłącznie w celu kontaktu w sprawie umówionej wizyty oraz prowadzenia dokumentacji medycznej.</p>
    </div>
</div>